<modal-dialog [open]="true" [guardClose]="false" [isOverflowVisible]="true" (discard)="onFormDiscard()">
    <h3 modal-header id="product-modal-title">Add new overlay</h3>

    <form class="select-overlay-form">
        <section>
            <label for="title">Title</label>
            <input type="text" name="title" id="title" placeholder="Add title" [formControl]="title">
        </section>

        <section class="form-buttons">
            <button type="button" class="btn btn-secondary" (click)="onFormDiscard()"> Discard </button>
            <button type="button" class="btn btn-primary" [disabled]="title.invalid || isLoading()" (click)="onFormSubmit()"> 
                {{ isLoading() ? 'Loading' : 'Add' }}
            </button>
        </section>
    </form>
</modal-dialog>