.add-player-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: name nationality submit;
    gap: 1rem;
    margin: 2rem 0;
}

.field {
    display: flex;
    flex-direction: column;
}

button {
    height: 100%;
    font-size: 1rem;
    
    align-self: center;
}