<div class="menu">
    <div class="menu-header">
        <i class="fbt-icons-layers"></i>
        <span class="overlay-title" title="{{overlay?.title}}">{{ overlay?.title }}</span>
        <div class="play-button" title="Start overlay">
            <i class="fbt-icons-play"></i>
        </div>
    </div>
    <div class="menu-item" routerLink="widget">
        <i class="fbt-icons-plus"></i>
        <span> Add new widget </span>
    </div>
    @for (widget of overlay?.widgets; track widget.id) {
    <div class="menu-item" (click)="onRowClick(widget.id)" routerLink="widget/{{widget.id}}" routerLinkActive="active">
        <span>{{ WidgetDetails[widget.widgetType] }}</span>
    </div>
    }
</div>

<div class="outlet-content">
    <router-outlet></router-outlet>
</div>