.editor-button {
    position: absolute;
    z-index: 2;
}

.widget-container {
    position: absolute;
    width: fit-content;
    height: fit-content;
    user-select: none;
}

.screen-boundary {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
}