<div class="navigation">
    <div class="navigation-buttons">
        <div class="arrow" (click)="back()">
            <i class="fbt-icons-arrow-left"></i>
        </div>
        <div class="arrow" (click)="forward()">
            <i class="fbt-icons-arrow-right"></i>
        </div>
    </div>
    <div class="navigation-item" routerLink="driver-overrides" routerLinkActive="active">
        <i class="fbt-icons-helmet"></i>
        <span> SESSION </span>
    </div>
    <div class="navigation-item" routerLink="players" routerLinkActive="active">
        <i class="fbt-icons-list"></i>
        <span> PLAYERS </span>
    </div>
    <div class="navigation-item" routerLink="overlays" routerLinkActive="active">
        <i class="fbt-icons-layers"></i>
        <span> OVERLAYS </span>
    </div>
    <div class="navigation-item" routerLink="dashboard" routerLinkActive="active">
        <i class="fbt-icons-layers"></i>
        <span> DASHBOARD </span>
    </div>
</div>
<div class="main-content">
    <router-outlet></router-outlet>
</div>