<div class="stopwatch">
    <div class="stopwatch-header" [style.borderColor]="car().driver.teamDetails?.primaryColor">
        <div class="position">
            <svg width="20" height="40" viewBox="0 0 20 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                @if (positionChange() > 0)
                {
                <path d="M9.99998 5L0 8V37H20V8L9.99998 5Z" fill="url(#paint0_linear_1106_474)" />
                <path d="M0 8L9.99998 5L20 8" stroke="#51FF00" stroke-width="4" />
                }
                @else if (positionChange()
                < 0) { <path d="M9.99998 35L0 32V3H20V32L9.99998 35Z" fill="url(#paint1_linear_1106_474)" />
                <path d="M0 32L9.99998 35L20 32" stroke="#FF0000" stroke-width="4" />
                }
                <defs>
                    <linearGradient id="paint0_linear_1106_474" x1="10" y1="3" x2="10" y2="37"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#51FF00" stop-opacity="0.5" />
                        <stop offset="1" stop-color="#51FF00" stop-opacity="0" />
                    </linearGradient>
                    <linearGradient id="paint1_linear_1106_474" x1="10" y1="37" x2="10" y2="3"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FF0000" stop-opacity="0.5" />
                        <stop offset="1" stop-color="#FF0000" stop-opacity="0" />
                    </linearGradient>
                </defs>
            </svg>
            <span>{{car().position}}</span>
        </div>
        <div class="team">
            <team-logo [team]="car().driver.teamId" 
                    [color]="car().driver.teamDetails?.primaryColor"
                    [game]="gameYear()">
            </team-logo>
        </div>
        <div class="name"> {{car().driver.name}} - {{car().driver.vehicleIdx}} </div>
        <div class="tyre" [ngStyle]="{
                'background-image': 'url(images/icons/tyres/' + car().tyreCompoundVisual.toLowerCase() + '_empty.svg)'
            }">
            {{car().tyreCompoundVisual[0]}}
        </div>
    </div>
    <div class="stopwatch-body">
        @if (showLapGap()) {
        <div class="current-time mono-font" [ngClass]="{'green-time': car().lapTimeStatusRelativeToPole === SectorTimeStatus.FasterThanLeader,
                                                'yellow-time': car().lapTimeStatusRelativeToPole === SectorTimeStatus.NoImprovement,
                                                }"> {{ car().lapGapToLeader }} </div>
        }
        @else if (showSector2Gap()) {
        <div class="current-time mono-font" [ngClass]="{'green-time': car().sector2TimeStatusRelativeToPole === SectorTimeStatus.FasterThanLeader,
                                                'yellow-time': car().sector2TimeStatusRelativeToPole === SectorTimeStatus.NoImprovement,
                                                }"> {{ car().sector2GapToLeader }} </div>
        }
        @else if (showSector1Gap()) {
        <div class="current-time mono-font" [ngClass]="{'green-time': car().sector1TimeStatusRelativeToPole === SectorTimeStatus.FasterThanLeader,
                                                'yellow-time': car().sector1TimeStatusRelativeToPole === SectorTimeStatus.NoImprovement,
                                                }"> {{ car().sector1GapToLeader }} </div>
        }
        @else if (!car().isLapValid) {
        <div class="current-time invalid-time">Invalid lap</div>
        }
        @else {
        <div class="current-time mono-font">{{ car().currentTime }}</div>
        }
        <div class="best-session-time">
            @if (!car().lapGapToLeader)
            {
            <div class="best-time mono-font">
                @if (car().lastLapTime === fastestLap()?.lapTime) {
                {{ secondFastestLap()?.lapTime }}
                }
                @else {
                {{ fastestLap()?.lapTime }}
                }
            </div>
            }
            @else if (!car().sector2GapToLeader)
            {
            <div class="best-time mono-font">{{ fastestLap()?.sector1And2Time }}</div>
            }
            @else if (!car().sector1GapToLeader)
            {
            <div class="best-time mono-font">{{ fastestLap()?.sector1Time }}</div>
            }
            @else {
            <div class="best-time mono-font"> {{ fastestLap()?.lapTime }} </div>
            }
            <div class="best-time-driver-name">
                @if (car().lastLapTime === fastestLap()?.lapTime) {
                {{secondFastestLap()?.driver?.name}}
                }
                @else {
                {{fastestLap()?.driver?.name}}
                }
            </div>
        </div>
    </div>
    <div class="stopwatch-footer">
        <div class="sectors">
            <div class="sector-1" [ngClass]="{'purple': car().sector1TimeStatus === SectorTimeStatus.FasterThanLeader,
                                                'green': car().sector1TimeStatus === SectorTimeStatus.PersonalBest,
                                                'yellow': car().sector1TimeStatus === SectorTimeStatus.NoImprovement,
                                                }">S1</div>
            <div class="sector-1" [ngClass]="{'purple': car().sector2TimeStatus === SectorTimeStatus.FasterThanLeader,
                                                'green': car().sector2TimeStatus === SectorTimeStatus.PersonalBest,
                                                'yellow': car().sector2TimeStatus === SectorTimeStatus.NoImprovement,
                                                }">S2</div>
            <div class="sector-1" [ngClass]="{'purple': car().lapTimeStatus === SectorTimeStatus.FasterThanLeader,
                                                'green': car().lapTimeStatus === SectorTimeStatus.PersonalBest,
                                                'yellow': car().lapTimeStatus === SectorTimeStatus.NoImprovement,
                                                }">S3</div>
        </div>
        <div class="lap-progress" [style.width.%]="car().lapProgress"></div>
    </div>
</div>