.event-list {
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: fit-content;
    max-width: 24em;

    font-size: 1.25rem;
}

.event {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.event-details {
    padding: .5em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: .5em;
}

.title {
    font-weight: bold;   
}

.description {
    font-style: italic;
    font-weight: normal;
}