@if (overlay()) {
<div class="drag-boundary">
    @for(widget of overlay()?.widgets; track widget.id)
    {
    <div class="widget-container" nudgeDrag 
        (nudgePositionChange)="onPositionChange($event)" 
        (cdkDragEnded)="onDragEnded($event)"
        [cdkDragData]="widget.id" 
        [cdkDragFreeDragPosition]="{x: widget.positionX, y: widget.positionY}">

        @switch(widget.widgetType) {
        @case (WidgetType.TimingTower) {
        <timing-tower [placeholderData]="timingTowerPlaceholder"></timing-tower>
        }
        @case (WidgetType.Stopwatch) {
        <stopwatch-list [placeholderData]="stopwatchPlaceholder"></stopwatch-list>
        }
        @case (WidgetType.Minimap) {
        <minimap [placeholderData]="minimapPlaceholder"></minimap>
        }
        @case (WidgetType.HaloHUD) {
        <halo-hud [placeholderData]="haloPlaceholder"></halo-hud>
        }
        }
    </div>
    }
</div>
} @else {
Loading...
}
<div class="buttons">
    <button class="btn-primary" type="button" routerLink='widget'>+ Add</button>
    <button class="btn-primary" type="submit" (click)="onSubmit()">Save</button>
</div>

<router-outlet (deactivate)="onDeactivateRoute($event)"></router-outlet>