/* @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&display=swap');
@import "app/shared/styles/forms.css";
@import "@ng-select/ng-select/themes/default.theme.css";

body {
    font-family: "DM Sans", sans-serif;
}

.mono-font {
  font-family: "Recursive", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CASL" 0,
    "CRSV" 0.5,
    "MONO" 0;
}