<h1>Player overrides</h1>

<div class="player-overrides">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Position</th>
                <th>Team</th>
                <th>Racing Number</th>
                <th>Name</th>
                <th>Name Override</th>
            </tr>
        </thead>
        <tbody>
            @for (driver of drivers; track driver.id)
            {
            <tr>
                <td>{{ driver.id }}</td>
                <td>{{ driver.position ?? "Unknown" }}</td>
                <td>
                    <img src="images/teams/{{driver.team}}.png" alt="" class="team-logo">
                </td>
                <td>{{ driver.racingNumber }}</td>
                <td>
                    <input type="text" [(ngModel)]="driver.name">
                </td>
                <td>
                    <input type="text" [(ngModel)]="driver.nameOverride">
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
