<form [formGroup]="sharedFormService.form" class="tab-form">
    <ng-container formGroupName="general">
        <section>
            <label for="positionX">Position X</label>
            <input type="number" name="positionX" id="positionX" formControlName="positionX">
        </section>

        <section>
            <label for="positionY">Position Y</label>
            <input type="number" name="positionY" id="positionY" formControlName="positionY">
        </section>
    </ng-container>
</form>