@if (cars().length)
{
<div class="speed-trap-leaderboard">
    <div class="title">
        TOP SPEED
    </div>
    <div class="cars">
        @for(car of cars(); track car.vehicleIdx)
        {
        <div class="car" [class.divider]="car.needDivider">
            <div class="position"> {{ car.ordinalNumber }} </div>
            <div class="team"> 
                <team-logo [team]="car.driver.teamId" [game]="car.driver.teamDetails?.gameYear ?? GameYear.F125"></team-logo>
            </div>
            <div class="name"> {{ car.driver.name }} </div>
            <div class="speed"> {{ car.speed }} </div>
        </div>
        }
    </div>
</div>
}