.minimap {
    position: relative;
    max-width: 500px;
    max-height: 500px;
    width: fit-content;
    height: fit-content;
}

.track-image {
    display: block;
    width: 100%;
    height: auto;
    max-height: 500px;
}