<div class="stopwatch">
    <div class="stopwatch-header" [style.borderColor]="driver().teamDetails?.primaryColor">
        <div class="position">
            <svg width="20" height="40" viewBox="0 0 20 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                @if (positionChange() > 0)
                {
                <path d="M9.99998 5L0 8V37H20V8L9.99998 5Z" fill="url(#paint0_linear_1106_474)" />
                <path d="M0 8L9.99998 5L20 8" stroke="#51FF00" stroke-width="4" />
                }
                @else if (positionChange()
                < 0) { <path d="M9.99998 35L0 32V3H20V32L9.99998 35Z" fill="url(#paint1_linear_1106_474)" />
                <path d="M0 32L9.99998 35L20 32" stroke="#FF0000" stroke-width="4" />
                }
                <defs>
                    <linearGradient id="paint0_linear_1106_474" x1="10" y1="3" x2="10" y2="37"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#51FF00" stop-opacity="0.5" />
                        <stop offset="1" stop-color="#51FF00" stop-opacity="0" />
                    </linearGradient>
                    <linearGradient id="paint1_linear_1106_474" x1="10" y1="37" x2="10" y2="3"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FF0000" stop-opacity="0.5" />
                        <stop offset="1" stop-color="#FF0000" stop-opacity="0" />
                    </linearGradient>
                </defs>
            </svg>
            <span>{{ position() }}</span>
        </div>
        <div class="team">
            <team-logo [team]="driver().teamId" 
                    [color]="driver().teamDetails?.primaryColor"
                    [game]="gameYear() ?? GameYear.F125">
            </team-logo>
        </div>
        <div class="name"> {{driver().name}} - {{driver().vehicleIdx}} </div>
        <div class="tyre" [ngStyle]="{
                'background-image': 'url(images/icons/tyres/' + tyreCompoundVisual() + '_empty.svg)'
            }">
            {{ tyreCompoundVisual()[0] }}
        </div>
    </div>
    <div class="stopwatch-body">
        @if (showLapGap()) {
        <div class="current-time mono-font" [ngClass]="{'green-time': lapTimeStatusRelativeToPole() === SectorTimeStatus.FasterThanLeader,
                                                'yellow-time': lapTimeStatusRelativeToPole() === SectorTimeStatus.NoImprovement,
                                                }"> {{ lapGapToLeader() }} </div>
        }
        @else if (showSector2Gap()) {
        <div class="current-time mono-font" [ngClass]="{'green-time': sector2TimeStatusRelativeToPole() === SectorTimeStatus.FasterThanLeader,
                                                'yellow-time': sector2TimeStatusRelativeToPole() === SectorTimeStatus.NoImprovement,
                                                }"> {{ sector2GapToLeader() }} </div>
        }
        @else if (showSector1Gap()) {
        <div class="current-time mono-font" [ngClass]="{'green-time': sector1TimeStatusRelativeToPole() === SectorTimeStatus.FasterThanLeader,
                                                'yellow-time': sector1TimeStatusRelativeToPole() === SectorTimeStatus.NoImprovement,
                                                }"> {{ sector1GapToLeader() }} </div>
        }
        @else if (!isLapValid()) {
        <div class="current-time invalid-time">Invalid lap</div>
        }
        @else {
        <div class="current-time mono-font">{{ currentTime() }}</div>
        }
        <div class="best-session-time">
            @if (sector1GapToLeader == null)
            {
            <div class="best-time mono-font">{{ fastestLap()?.sector1Time }}</div>
            }
            @else if (sector2GapToLeader == null)
            {
            <div class="best-time mono-font">{{ fastestLap()?.sector1And2Time }}</div>
            }
            @else if (lapGapToLeader == null)
            {
            <div class="best-time mono-font">
                @if (driver().vehicleIdx === fastestLap()?.driver?.vehicleIdx) {
                {{ secondFastestLap()?.lapTime }}
                }
                @else {
                {{ fastestLap()?.lapTime }}
                }
            </div>
            }
            @else {
            <div class="best-time mono-font"> {{ fastestLap()?.lapTime }} </div>
            }
            <div class="best-time-driver-name">
                @if (lastLapTime() === fastestLap()?.lapTime) {
                {{secondFastestLap()?.driver?.name}}
                }
                @else {
                {{fastestLap()?.driver?.name}}
                }
            </div>
        </div>
    </div>
    <div class="stopwatch-footer">
        <div class="sectors">
            <div class="sector-1" [ngClass]="{'purple': sector1TimeStatus() === SectorTimeStatus.FasterThanLeader,
                                                'green': sector1TimeStatus() === SectorTimeStatus.PersonalBest,
                                                'yellow': sector1TimeStatus() === SectorTimeStatus.NoImprovement,
                                                }">S1</div>
            <div class="sector-1" [ngClass]="{'purple': sector2TimeStatus() === SectorTimeStatus.FasterThanLeader,
                                                'green': sector2TimeStatus() === SectorTimeStatus.PersonalBest,
                                                'yellow': sector2TimeStatus() === SectorTimeStatus.NoImprovement,
                                                }">S2</div>
            <div class="sector-1" [ngClass]="{'purple': lapTimeStatus() === SectorTimeStatus.FasterThanLeader,
                                                'green': lapTimeStatus() === SectorTimeStatus.PersonalBest,
                                                'yellow': lapTimeStatus() === SectorTimeStatus.NoImprovement,
                                                }">S3</div>
        </div>
        <div class="lap-progress" [style.width.%]="lapProgress()"></div>
    </div>
</div>