<div *ngIf="timingTower" class="timing-tower">
    <session-details
        [currentLap]="timingTower.currentLap"
        [totalLaps]="timingTower.totalLaps"
        [sectorYellowFlags]="timingTower.sectorYellowFlags"
        [safetyCarStatus]="timingTower.safetyCarStatus">
    </session-details>
    <div class="driver-timing-details-container">
        @for (driver of timingTower.driverTimingDetails; track driver.vehicleIdx)
        {
        <driver-timing-details [driver]="driver" 
            [isSpectated]="driver.vehicleIdx === timingTower.spectatorCarIdx"
            [showAdditionalInfo]="this.timingTower.showAdditionalInfo">
        </driver-timing-details>
        }
    </div>
</div>