@font-face {
    font-family: "Formula1";
    src: url("./Formula1_400.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Formula1";
    src: url("./Formula1_700.woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Formula1";
    src: url("./Formula1_900.woff2");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Formula1";
    src: url("./Formula1_400_italic.woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Formula1Wide";
    src: url("./Formula1_400_wide.woff2");
    font-weight: 400;
    font-style: normal;
}
