<div class="session-details show-fia-flag"
    [ngClass]="{'show-fia-flag': sectorYellowFlags.includes(true)}">
    <div class="laps">
        LAP <span>{{currentLap}}</span> / {{totalLaps}}
    </div>
    <div class="fia-flag yellow-flag">
        <img src="images/icons/common/double-flags.svg" alt="">
        {{safetyCarStatus}}
        @if (safetyCarStatus == SafetyCarStatus.Full)
        {
        <div class="safety-car">
            Safety Car
        </div>
        }
        @else if (safetyCarStatus == SafetyCarStatus.Virtual) {
        <div class="safety-car">
            Virtual Safety Car
        </div>
        }
        @else if (sectorYellowFlags.includes(true))
        {
        <div class="">
            {{sectorYellowFlags | sectorsYellowFlags}}
        </div>
        }
    </div>
</div>