<div class="tyre-stint-comparison">
    <div class="drivers">
        @for (car of cars(); track car.driver.vehicleIdx)
        {
        <div class="driver"> {{ car.driver.name }} </div>
        }
    </div>
    <div class="car-stints" [style.height.em]="(cars().length + 1) * 2">
        @for (car of cars(); track car.driver.vehicleIdx)
        {
        <div class="car" 
            [style.height.em]="(cars().length - $index + 1) * 2" 
            [style.z-index]="$index" 
            [style.width.%]="car.totalSizePercentage">
            <div class="stints" [style.border-width]="$index ? '0' : '1px'">
                @for (stint of car.tyreStints; track $index) 
                {
                <div class="stint" 
                    [style.width.%]="stint.sizePercentage"
                    [style.flex-grow]="$index ? 0 : 1"
                    [style.border-width]="$index == car.tyreStints.length - 1 ? '0' : '1px'">
                    <div class="stint-bar" [style.background]="stint.tyreColor"> {{stint.duration}} </div>
                </div>
                }
            </div>
        </div>
        }
    </div>
</div>