.tyre-stint-comparison {
    width: 80em;
    height: fit-content;
    background: rgb(31, 10, 47);
    position: relative;
    padding: 2em;

    display: flex;
    gap: 2em;
}

.car-stints {
    position: relative;
    flex-grow: 1;

    display: grid;
    grid-template-columns: 1fr;

    border-right: dashed 1px white;
}

.driver {
    padding-right: 1em;
}

.stints {
    background: rgba(152, 152, 255, 0);
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 2px;
    border-left: dashed 1px white;
    border-right: dashed 1px white;
}

.stint {
    position: relative;
    height: 100%;
    border-left: dashed 1px white;
    border-right: dashed 1px white;
}

.stint-bar {
    width: 100%;
    background: blueviolet;
    color: black;
    text-align: center;
}

.tyre {
    position: relative;
    z-index: 2;
    left: -0.75em;
    top: -1.35em;
    height: 1.5em;
    width: 1.5em;
}

.lap-marker {
    position: relative;
    right: -0.5ch;
    text-align: right;
}

.lap-marker:first-of-type {
    text-align: left;
    left: -0.25em;
}