@let state = this.state();

@if (state != null)
{
<table>
    <colgroup>
        @for (hasPitStop of doesLapHavePitStop(); track $index) 
        {
        <col [style.border-right]="hasPitStop ? 'dashed 1px pink' : ''">
        }
    </colgroup>
    @for (car of state.cars; track car.driver.vehicleIdx) 
    {
    <tr>
        @for (stint of car.tyreStints; track $index) 
        {
        <td [colSpan]="stint.duration"> 
            <div [style.background]="stint.tyreColor">
                {{ stint.duration }} 
            </div>
        </td>
        }
    </tr>
    }

</table>

}