.tyre-stint-comparison {
    width: 80em;
    height: fit-content;
    background: rgb(31, 10, 47);
    position: relative;
    padding: 2em;

    display: flex;
    gap: 2em;
}

.car-stints {
    position: relative;
    flex-grow: 1;
}

.car {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;

    display: grid;
}

.drivers {
    display: flex;
    flex-direction: column;
}

.driver {
    height: 2em;
}

.stints {
    background: rgba(152, 152, 255, 0);
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 2px;
    border-left: dashed 1px white;
    border-right: dashed 1px white;
}

.stint {
    position: relative;
    height: 100%;
    border-left: dashed 1px white;
    border-right: dashed 1px white;
}

.stint-bar {
    width: 100%;
    background: blueviolet;
    color: black;
    text-align: center;
}

.tyre {
    position: relative;
    z-index: 2;
    left: -0.75em;
    top: -1.35em;
    height: 1.5em;
    width: 1.5em;
}

.pit-stop-lap-markers {
    position: absolute;
    bottom: -1.5em;
    right: -0.5em;

    display: grid;
    grid-template-columns: repeat(24, 1fr);
    width: 100%;
    
    text-align: right;
}

.lap-marker:first-child {
    text-align: left;
    right: 0.5em;
}
